.home-feature-section {
  display: flex;
  align-items: center;
  padding: 50px 130px;
  gap: 40px;
}

.home-feature-section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  gap: 20px;
  margin: 40px 0;
}

.active {
  display: block !important;
  width: 82%;
}

@media(max-width:1020px) {
  .home-feature-section .grid {
    width: 100%;
  }

  .home-feature-section .grid .btn {
    width: 100%;
  }
}