.btn {
  background: var(--sec-clr);
  border-radius: 4px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 56px;
  font-style: normal;
  font-family: var(--secfntfam);
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  border: none;
  color: white;
}


@media(max-width:1020px) {
  .btn {
    width: 176.09px;
    height: 36.6px;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
  }
}