.gray-btn {
    background: #DADADA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 50px;
    color: #22343D;
    border: none;
}