.home-hero {
  background-image: url(../../assets//bg-bike.png);
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.home-page > button {
  width: 20%;
  margin: auto;
}

.home-hero-social-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-hero-social-link > div {
  background-color: white;
  color: #f03e3d;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero-intro {
  background: rgba(26, 26, 26, 0.4);
  color: white;
  height: 451px;
  padding: 70px 30px;
}

.home-hero-intro .h1 {
  margin-bottom: 15px;
}

.home-hero-intro .h2 {
  margin-bottom: 10px;
}

.home-hero-intro .flex {
  gap: 20px;
  margin-bottom: 30px;
}

.home-hero-intro .flex > div {
  border-right: 1px solid white;
  padding-right: 20px;
}

.home-hero-intro button:nth-child(1) {
  background-color: var(--pri-clr);
}

.feature-footer {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.feature-footer > div {
  background-color: var(--sec-clr);
  width: 33.3%;
  color: white;
  display: flex;
  padding: 60px 0;
  padding-left: 40px;
  padding-right: 20px;
  gap: 12px;
  font-family: var(--secfntfam);
}

.feature-footer > div:nth-child(1) {
  background-color: var(--pri-clr);
}

.feature-footer .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.feature-card-two {
  margin-top: 300px;
  font-family: var(--secfntfam);
  padding-bottom: 60px;
}

.feature-card-two .home-feature-section {
  gap: 0px;
  padding: 0;
}

.feature-card-two .home-feature-section > div:nth-child(1) {
  background-color: var(--pri-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 450px;
  z-index: -1;
  padding-left: 180px;
  padding-right: 80px;
}

.feature-card-two .home-feature-section > div:nth-child(2) {
  background-color: var(--sec-clr);
  width: 35%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  position: relative;
}

.feature-card-two .home-feature-section > div:nth-child(2) img {
  height: 350px;
  width: 400px;
  position: absolute;
  right: -100px;
  z-index: 11;
}

.feature-card-two .home-feature-section > div:nth-child(1) .h3 {
  color: var(--sec-clr);
}

.feature-card-two .home-feature-section > div:nth-child(1) .h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 20px;
}

.feature-card-two .home-feature-section > div:nth-child(1) .p {
  color: white;
  margin-bottom: 25px;
}

.feature-card-two .home-feature-section > div:nth-child(1) .btn {
  width: 204px;
}

.faq-section {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.faq-section .home-feature-section {
  padding: 0;
  background: #f6f6f6;
  border-radius: 16px;
  padding: 50px;
  align-items: flex-start;
  gap: 30px;
}

.faq-section .home-feature-section > div {
  width: 50%;
  font-family: var(--secfntfam);
}

.faq-section .home-feature-section > div:nth-child(1) {
  margin-top: 10px;
}

.faq-section .home-feature-section > div:nth-child(1) .h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
}

.faq-section .home-feature-section > div:nth-child(1) .p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #22343d;
  width: 60%;
  margin-bottom: 20px;
}

.faq-section .home-feature-section > div:nth-child(2) {
  background-color: white;
  border-radius: 16px;
  padding: 50px 30px;
  padding-bottom: 20px;
}

.faq-section .home-feature-section > div:nth-child(2) .p {
  display: none;
}

.faq-section .home-feature-section > div > div {
  border-bottom: 1.5px solid #d7d7d7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.faq-section .home-feature-section > div:nth-child(2) .flex {
  justify-content: space-between;
  padding-bottom: 20px;
}

.faq-section .icon-con {
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 100px 160px;
  font-family: var(--sec-clr);
}

.order-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.order-section .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #22343d;
}

.order-section .p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #606060;
  width: 60%;
  margin: auto;
}

.home-footer-header {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 50px 130px;
}

.home-footer-header > div {
  width: 50%;
}

.home-footer-form {
  width: 50%;
}

.home-footer-form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #acacac;
  border-radius: 60px;
  width: 90%;
  padding: 15px;
  height: 50px;
}

.home-footer-form input {
  border: none;
  font-family: var(--secfntfam);
  padding-left: 10px;
}

.home-footer-form .btn {
  background: #f03e3d;
  border-radius: 40px;
  height: 37px;
}

.home-footer-header .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #252525;
}

.home-footer-header .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}

.home-footer-main {
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
}

.home-footer-main > div .flex {
  gap: 10px;
}

.home-footer-main > div .h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.home-footer-main > div .p {
  width: 60%;
  margin-bottom: 20px;
}

.home-footer-main .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f03e3d;
}

.home-footer-main .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #252525;
}

.home-footer-footer {
  padding: 50px 100px;
  position: relative;
}

.home-footer-footer .hr {
  background: #acacac;
  height: 1px;
}

.home-footer-footer .flex {
  position: absolute;
  left: 600px;
  top: 33px;
  gap: 13px;
}

.home-footer-footer .flex > div {
  border: 1px solid #acacac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #acacac;
  background-color: white;
  height: 35px;
  width: 35px;
  font-size: 20px;
}

.home-footer-footer .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #252525;
  margin-top: 30px;
}

.home-footer-footer .p span {
  font-weight: 600;
}
