.home-hero {
  background-image: url(../../assets//bg-bike.png);
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.home-page>button {
  width: 20%;
  margin: auto;
}

.home-hero-social-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-hero-social-link>div {
  background-color: white;
  color: #f03e3d;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero-intro {
  background: rgba(26, 26, 26, 0.4);
  color: white;
  height: 451px;
  padding: 70px 30px;
}

.home-feature-sect .home-feature-section .h3 {
  color: var(--sec-clr);
}

.section-comp-two .home-product-card {
  height: auto;
}

.home-hero-intro .h1 {
  margin-bottom: 15px;
}

.home-hero-intro .h2 {
  margin-bottom: 10px;
}

.home-hero-intro .flex {
  gap: 20px;
  margin-bottom: 30px;
}

.home-hero-intro .flex>div {
  border-right: 1px solid white;
  padding-right: 20px;
}

.home-hero-intro button:nth-child(1) {
  background-color: var(--pri-clr);
}

.feature-footer {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.feature-footer>div {
  background-color: var(--sec-clr);
  width: 33.3%;
  color: white;
  display: flex;
  padding: 60px 0;
  padding-left: 40px;
  padding-right: 20px;
  gap: 12px;
  font-family: var(--secfntfam);
}

.feature-footer>div:nth-child(1) {
  background-color: var(--pri-clr);
}

.feature-footer .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.feature-card-two {
  margin-top: 0px;
  font-family: var(--secfntfam);
  padding-bottom: 60px;
}

.feature-card-two .home-feature-section {
  gap: 0px;
  padding: 0;
}

.section-comp-two .product-section {
  margin-bottom: 0px;
}

.feature-card-two .home-feature-section>div:nth-child(1) {
  background-color: var(--pri-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 450px;

  padding-left: 180px;
  padding-right: 80px;
}

.feature-card-two .home-feature-section>div:nth-child(2) {
  background-color: var(--sec-clr);
  width: 35%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.feature-card-two .home-feature-section>div:nth-child(2) img {
  height: 350px;
  width: 400px;
  position: absolute;
  right: -100px;

}

.feature-card-two .home-feature-section>div:nth-child(1) .h3 {
  color: var(--sec-clr);
}

.feature-card-two .home-feature-section>div:nth-child(1) .h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 20px;
}

.feature-card-two .home-feature-section>div:nth-child(1) .p {
  color: white;
  margin-bottom: 25px;
}

.feature-card-two .home-feature-section>div:nth-child(1) .btn {
  width: 204px;
}

.faq-section {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.faq-section .home-feature-section {
  background: #f6f6f6;
  border-radius: 16px;
  padding: 50px;
  align-items: flex-start;
  gap: 30px;
}

.faq-section .home-feature-section>div {
  width: 50%;
  font-family: var(--secfntfam);
}

.faq-section .home-feature-section>div:nth-child(1) {
  margin-top: 10px;
}

.faq-section .home-feature-section>div:nth-child(1) .h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
}

.faq-section .home-feature-section>div:nth-child(1) .p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #22343d;
  width: 60%;
  margin-bottom: 20px;
}

.faq-section .home-feature-section>div:nth-child(2) {
  background-color: white;
  border-radius: 16px;
  padding: 50px 30px;
  padding-bottom: 20px;
}

.faq-section .home-feature-section>div:nth-child(2) .p {
  display: none;
}

.faq-section .home-feature-section>div>div {
  border-bottom: 1.5px solid #d7d7d7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.faq-section .home-feature-section>div:nth-child(2) .flex {
  justify-content: space-between;
  padding-bottom: 20px;
}

.faq-section .icon-con {
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 100px 160px;
  font-family: var(--sec-clr);
}

.order-section>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.order-section .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #22343d;
}

.order-section .p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #606060;
  width: 60%;
  margin: auto;
}

.home-feature-sect {
  position: relative;
}

.home-feature-sect .home-feature-section>div {
  width: 50%;
}

.home-feature-sect .home-feature-section>div:nth-child(2)>div {
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  background-color: white;
  top: -60px;
}

@media(max-width:1020px) {

  .home-hero {
    padding: 0;
  }

  .home-hero-social-link {
    display: none;
  }

  .home-hero-intro {
    padding: 30px;
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .home-hero-intro .h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
  }

  .home-hero-intro .h2 {
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 22.4px;
    line-height: 40px;
    letter-spacing: 4.8px;
  }

  .home-hero-intro .h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  .home-hero-intro .p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
  }

  .feature-footer,
  .home-feature-sect .home-feature-section,
  .home-hero-intro>.flex:nth-of-type(2),
  .feature-card-two .home-feature-section,
  .faq-section .home-feature-section,
  .order-section {
    flex-direction: column !important;
  }

  .feature-card-two .home-feature-section {
    position: static !important;
    inset: 0;
    z-index: 10;
    flex-direction: column-reverse !important;
  }

  .feature-card-two .home-feature-section>div>div {
    padding: 0 30px !important;
    width: 100%;
  }

  .feature-card-two .home-feature-section>div:nth-child(2) img {
    position: static;
    width: 100%;
    margin: auto;
    inset: 0;
    margin-bottom: -250px;
    height: 300px;
  }

  .feature-card-two .home-feature-section>div:nth-child(1) {
    width: 100%;
    padding: 30px;
    padding-top: 150px;
    min-height: 600px;
  }

  .feature-card-two .home-feature-section>div:nth-child(1) .h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
  }

  .feature-card-two .home-feature-section>div:nth-child(1) .btn {
    height: 50px;
  }

  .feature-card-two .home-feature-section>div:nth-child(1) .h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 160%;
  }

  .feature-card-two .home-feature-section>div:nth-child(2) {
    width: 100%;
    padding: 0 !important;
    height: 300px;
  }

  .feature-card-two .home-feature-section>div {
    width: 100%;
  }

  .home-hero-intro>.flex:nth-of-type(2) .btn {
    height: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 22px;
  }

  .home-feature-sect .home-feature-section {
    padding: 0;
    gap: 20px;
    flex-direction: column-reverse !important;
  }

  .home-feature-sect .home-feature-section .h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .home-feature-sect .home-feature-section .h1 {
    margin-bottom: 20px;
  }

  .home-feature-sect .home-feature-section .grid .border-btn {
    border: 0.8px solid #F03E3D;
    border-radius: 4.8px;
  }

  .home-feature-sect .home-feature-section .btn {
    height: 44.8px;
  }

  .home-feature-sect .home-feature-section>div:nth-child(2) {
    padding-bottom: 0;
  }

  .home-feature-sect .home-feature-section>div:nth-child(2)>div {
    margin-top: -100px;
  }

  .home-feature-sect .home-feature-section>div,
  .feature-footer>div {
    width: 100%;

  }

  .home-feature-sect .home-feature-section>div {
    padding: 50px 30px;
  }

  .home-page>.btn {
    width: 276px;
    height: 56px;
    margin: 20px auto;
    margin-top: 40px;
  }

  .section-1 .product-section .btn {
    width: 90%;
    margin: auto;
    height: 46px;
  }

  .feature-card-two {
    margin: 0;
    padding: 0;
  }

  .faq-section .home-feature-section>div {
    width: 100%;
  }

  .faq-section .home-feature-section {
    padding: 20px;
    align-items: center;
  }

  .faq-section .home-feature-section>div:nth-child(1) .h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .faq-section .home-feature-section>div:nth-child(1) .p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .faq-section .home-feature-section>div:nth-child(2) {
    padding: 30px;
  }

  .faq-section .home-feature-section>div:nth-child(2) .h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
  }

  .faq-section .home-feature-section>div:nth-child(2) .p {
    width: 90%;
  }

  .faq-section {
    width: 95%;
    margin-top: 30px;
  }

  .order-section {
    padding: 40px;
    gap: 50px;
  }
}