.card-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.card-header .h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 45px;
    text-align: center;
    color: #22343D;
    margin-bottom: 10px;
}


.card-header .p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #22343D;
}

@media(max-width:1020px) {
    .card-header .h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    .card-header .p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
    }
}