.card-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.card-header .h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #22343D;
    margin-bottom: 10px;
}


.card-header .p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #22343D;
}