.product-hero {
    background-image: url(../../assets/product-hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    padding: 40px;
    margin: auto;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.product-hero .h3 {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
}


.product-hero .p {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.product-first-section {
    padding: 20px 80px;
}


.product-section-two {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 70px;
}

.product-section-two-item-one {
    padding: 20px 15px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product-section-two-item-one-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.product-section-two-item-one-header>div:nth-child(1) {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 8px;
}

.product-section-two-item-one>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-section-two-item-one>div:nth-child(2) .input-con {
    margin: 0;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #606060;
    z-index: 700;
    box-shadow: 0px 2px 12px rgba(66, 82, 110, 0.2);
    border-radius: 8px;
    width: 171px;
    height: 115px;
    top: 78px;
    right: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 400ms ease-in-out;
}

.dropdown[data-visible="false"] {
    display: none !important;
}


.dropdown[data-visible="true"] {
    display: flex !important;
}


.dropdown .p {
    margin: 0 !important;

}

.dropdown .flex {
    margin: 0 !important;
    justify-content: space-between;
    cursor: pointer;
}

.product-section-two-item-one>div:nth-child(2) .input-con .p {
    margin: 0;
}

.product-section-two-item-one-header img {
    padding: 15px 35px;
    cursor: pointer;
}

.diff {
    background-color: white;
    border-radius: 8px;
}


.product-section-two .flex {
    margin-top: 25px;
    align-items: center;
}

.product-section-two .flex .h3 {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #22343D;
    margin-left: 15px;
}

.product-section-two .input-con {
    width: 230px;
    height: 46px;
    border: 1px solid #CCC5C5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #606060;
    margin-top: 20px;
}


.input-con .p {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input-con svg {
    font-size: 24px;
}


.product-section-two-item-two .card-three {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}

.product-section-two-item-two .card-three>div {
    width: 100%;
}

.product-section-two .flex {
    margin-top: 0;
}

.search-form {
    margin-bottom: 20px;
}

.search-form>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    padding: 10px 20px;
    padding-right: 10px;
    height: 50px;
    width: 50%;
}

.product-section-two-item-one .flex,
.text {
    margin-top: 20px;
}

.search-form input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #22343D;
    font-family: var(--prim-fntfam);
}

.search-form .btn {
    height: 40px;
    width: auto;
    width: 40px;
    border-radius: 40px;
}

.vert-roll {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}

.vert-roll .btn {
    height: 50px;
}

.vert-roll .border-btn {
    width: 33%;
}

.vert-roll>img {
    background-color: rgba(250, 250, 250, 1);
    position: absolute;
    padding: 13px 30px;
    right: 0px;
    backdrop-filter: 10px;
}

.product-section-two-item-one .p,
.text {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    margin-bottom: 15px;
}

.min,
.max {
    justify-content: flex-start !important;
    gap: 20px;
}

.product-page .card-three .h2 {
    display: none;
}

@media(max-width:1020px) {
    .product-section-two {
        flex-direction: column;
        padding: 20px;
    }

    .product-section-two .input-con {
        flex-direction: row;
        width: 100%;
    }

    .product-first-section {
        padding: 20px;
    }

    .product-section-two-item-one {
        flex-direction: column;
    }

    .product-section-two-item-one-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-section-two-item-one-header .p {
        font-size: 18px;
    }

    .dropdown {
        top: 195px;
    }

    .product-section-two .h3 {
        font-size: 16px;
    }

    .product-section-two-item-two {
        width: 100%;
        height: auto !important;
    }

    .search-form {
        width: 100%;
    }

    .search-form>div {
        width: 100%;
    }

    .vert-roll {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .vert-roll .btn {
        width: 100%;
    }

    .vert-roll img {
        display: none;
    }

    .product-section-two-item-two .card-three {
        width: 100%;

        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }
}