.product-hero {
    background-image: url(../../assets/product-hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    padding: 40px;
    margin: auto;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.product-hero .h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
}


.product-hero .p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.product-first-section {
    padding: 20px 80px;
}


.product-section-two {
    display: flex;
    align-items: center;
    padding: 30px 70px;
}

.product-section-two-item-one {
    background-color: #F8F8F8;
    padding: 20px 15px;
    border-radius: 16px;
    width: 25%;
}

.product-section-two-item-one-header {
    background-color: #f1f1f1;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-radius: 8px;
}

.product-section-two-item-one-header img {
    padding: 15px 35px;
}

.diff {
    background-color: white;
    border-radius: 8px;
}