.card-one {
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 40px;
}

.card-one>div {
  height: 250px;
  width: 33.3%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--other-clr);
  padding: 30px;
  border-radius: 10px;
  font-family: var(--prim-fntfam);
  transition: all ease-in-out 100ms;
}

.card-one>div .h3 {
  width: 80%;
}

.card-one>div:hover {
  background-color: #EDF2F8;
}

.card-one>div>div {
  z-index: 11;
}

.card-one .btn {
  margin-top: 50px;
}

.card-one img {
  position: absolute;
  z-index: 10;
  left: 100px;
}

.card-one .p {
  color: var(--sec-clr);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.card-one .h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #22343d;
}


@media(max-width:1020px) {
  .card-one {
    flex-direction: column;
    padding: 30px;
  }

  .card-one>div {
    width: 100%;
  }

  .card-one .btn {
    height: 50px;
  }

  .card-one img {
    position: absolute;
    left: 50px;
  }

}

@media(min-width:750px) and (max-width:1020px) {
  .card-one {
    display: grid;
    grid-template-areas:
      "header header header2 header2"
      ". footer footer .";
  }

  .card-one>div:nth-child(1) {
    grid-area: header;
  }

  .card-one>div:nth-child(2) {
    grid-area: header2;
  }

  .card-one>div:nth-child(3) {
    grid-area: footer;
  }
}