.order-details-table .order-details-table-main .flex {
    gap: 10px;
}

.order-details-item-two .order-details-item-two-sect-one .flex {
    gap: 20px;
}

.order-details-item-two .order-details-item-two-sect-one .flex>div {
    width: 50%;
}

.order-details-item-two .order-details-item-two-sect-one .dash-btn {
    background-color: #342094;
    color: white;
    width: 181px;
    height: 40px;
}

.password-flex {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    height: 50px;
    background: #F5F5F5;
    padding: 0 10px;
}

.password-flex input {
    border: none;
    outline: none;
    height: 70%;
    background: #F5F5F5;
    width: 70%;
}

.checkbox {
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
}

.create-new-user-con .dash-btn {
    width: 100% !important;
    height: 50px !important;
}