.checkout-section .review-form>.h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.checkout-section .review-form>.p:last-child {
    font-family: var(--prim-fntfam);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #606060;
}

.checkout-section .review-form input,
.checkout-section .review-form textarea {
    width: 100%;
}

.checkout-section .review-form>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-section .review-form .flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

@media(max-width:1020px) {
    .checkout-page .review-form>div {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .checkout-page .review-form>div .flex {
        width: 100%;
        margin: 0;
    }
}