header {
  background-color: var(--pri-clr);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-logo-con {
  width: 25%;
}

.header-list,
.header-icons-con {
  display: flex;
  align-items: center;
  font-family: var(--prim-fntfam);
  gap: 20px;
  width: 40%;
  margin-right: 100px;
}

.header-list li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--prim-fntfam);
  margin-right: 0;
}

.header-icons-con {
  width: 35%;
  gap: 50px;
}

.mobile-cart-con,
.menu,
.mobile-list {
  display: none;
}

.header-form {
  background-color: #292929;
  height: 80px;
  width: 40%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50%;
  display: none;
  transition: all 400ms ease-in-out;
  z-index: 999;
}

.header-form[data-visible="true"] {
  display: flex !important;
  transition: all 400ms ease-in-out;
}

.header-form>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 70%;
  border: 1px solid #D9D9D9;
  border-radius: 60px;
  padding: 0 20px;
}

.header-form input {
  border: none;
  font-size: 20px;
  font-family: var(--prim-fntfam);
  height: 100%;
  outline: none;
  border-radius: 60px;
  width: 75%;
}

.header-form .btn {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.carts {
  z-index: 999;
  display: flex;
  background-color: transparent;
  position: fixed;
  inset: 0;
  height: auto;
  transition: all 200ms ease-in-out;
}

.cart-two {
  z-index: 999;
  display: flex;
  background-color: transparent;
  position: fixed;
  inset: 0;
  height: auto;
  transition: all 200ms ease-in-out;
}


.cart-two[data-visi=false] {
  display: none !important;
}

.cart-two[data-visi=true] {
  display: flex !important;
}

.carts[data-visible=false] {
  display: none !important;
}


.carts[data-visible=true] {
  display: flex !important;
}


.carts>div:nth-child(1) {
  width: 65%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-two>div:nth-child(1) {
  width: 65%;
  background-color: rgba(0, 0, 0, 0.5);
}


.main-cart {
  background-color: white;
  width: 35%;
  padding: 40px 25px;
  overflow-y: scroll;
  transition: all 400ms ease;
}



.main-cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-cart-main {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 30px;
  padding-bottom: 40px;
  gap: 15px;
}

.main-cart-img-con img {
  padding: 10px;
  border: 1px solid #D9D9D9;
}

.main-cart-text-con>.p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #22343D;
  margin-bottom: 12px;
}

.main-cart-text-con>.h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #F03E3D;
  margin-bottom: 5px;
}

.main-cart-main .main-cart-img-con {
  width: 30%;
}

.main-cart-main .main-cart-text-con {
  width: 70%;
}

.main-cart-header .cart-remove-btn {
  height: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: 400;
}

.main-cart-header-two {
  margin-top: 20px;
}

.main-cart-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.main-cart-footer button {
  width: 100%;
  flex-direction: row-reverse;
  font-weight: 600;
}

.show-products {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 280px;
  inset: 0;
  top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
  padding: 0 30px;
  transition: all ease-in-out 400ms;
}

.show-products[data-visible="false"] {
  display: none !important;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 280px;
  inset: 0;
  top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
  padding: 0 30px;
  transition: all ease-in-out 400ms;
}

.show-products[data-visible="true"] {
  display: flex !important;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 280px;
  inset: 0;
  top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
  padding: 0 30px;
  transition: all ease-in-out 400ms;
}

.show-products :link {
  border-radius: 10px;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.show-products :link .h2 {
  font: 500 22px "Poppins";
}


.show-products :link .h3 {
  font: 400 18px "Poppins";
  margin-top: 5px;
}

.show-products :link img {
  height: 150px;
  width: 100%;
}

@media (max-width: 1020px) {
  header {
    height: 80px;
    padding: 0 30px;
    justify-content: space-between;
  }

  .mobile-cart-con,
  .menu,
  .mobile-list {
    display: block;
  }

  .mobile-list {
    position: fixed;
    inset: 0;
    right: 35%;
    background-color: white;
    font-family: var(--prim-fntfam);
    padding: 30px 0;
    overflow-y: scroll;
    transition: transform ease-in 100ms;
    z-index: 99;
    transform: translateX(-200%);
  }

  .close {
    cursor: pointer;
  }

  .mobile-list[data-visible=true] {
    transform: translateX(0%) !important;
  }

  .mobile-list[data-visible=false] {
    transform: translateX(-200%) !important;
  }

  .close-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .mobile-list>.p {
    font-size: 14px;
    margin: 20px 0;
    padding: 0 10px;
  }

  .mobile-list li {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 30px;
    color: white;
  }

  .mobile-list .flex {
    padding-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 30px;

  }

  .mobile-list .flex li {
    padding: 0px;
    border-bottom: none;
    margin-top: 0px;
  }

  .header-logo-con {
    width: auto;
  }

  .header-icons-con,
  .header-list {
    display: none;
  }

  .mobile-list section {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
  }

  .header-form {
    background-color: #292929;
    height: 70px;
    display: flex !important;
    width: 100%;
    left: 0;
    align-items: center;
    transition: none;
    top: 80px;
  }


  .header-form>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    margin: auto;
    height: 70%;
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    padding: 0 20px;
  }

  .header-form input {
    border: none;
    font-size: 20px;
    font-family: var(--prim-fntfam);
    height: 100%;
    margin: auto;
    outline: none;
    border-radius: 60px;
    width: 75%;
  }

  .header-form .btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }

  .header-form {
    z-index: 900;
  }
}