header {
  background-color: var(--pri-clr);
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-logo-con {
  width: 25%;
}

.header-list,
.header-icons-con {
  display: flex;
  align-items: center;
  font-family: var(--prim-fntfam);
  gap: 20px;
  width: 40%;
  margin-right: 100px;
}

.header-list li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--prim-fntfam);
  margin-right: 0;
}

.header-icons-con {
  width: 35%;
  gap: 50px;
}

.mobile-cart-con,
.menu,
.mobile-list {
  display: none;
}

.header-form {
  display: none;
}

@media (max-width: 1020px) {
  header {
    height: 80px;
    padding: 0 30px;
    justify-content: space-between;
  }

  .mobile-cart-con,
  .menu,
  .mobile-list {
    display: block;
  }

  .mobile-list {
    position: fixed;
    inset: 0;
    right: 35%;
    background-color: white;
    font-family: var(--prim-fntfam);
    padding: 30px 0;
    overflow-y: scroll;
    transition: transform ease-in 100ms;
    z-index: 99;
  }

  .hide-menu {
    transform: translateX(-200%) !important;
  }

  .show-menu {
    transform: translateX(0%) !important;
  }

  .close-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .mobile-list>.p {
    font-size: 14px;
    margin: 20px 0;
    padding: 0 10px;
  }

  .mobile-list li {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 30px;
    color: white;
  }

  .mobile-list .flex {
    padding-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 30px;

  }

  .mobile-list .flex li {
    padding: 0px;
    border-bottom: none;
    margin-top: 0px;
  }

  .header-logo-con {
    width: auto;
  }

  .header-icons-con,
  .header-list {
    display: none;
  }

  .mobile-list section {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
  }

  .header-form {
    background-color: #292929;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .header-form>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    margin: auto;
    height: 80%;
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    padding: 0 20px;
  }

  .header-form input {
    border: none;
    font-size: 20px;
    font-family: var(--prim-fntfam);
    height: 100%;
    outline: none;
    border-radius: 60px;
    width: 75%;
  }

  .header-form .btn {
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
}