
.product-section {
    font-family: var(--secfntfam);
    padding: 80px 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .product-section .flex {
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 30px;
    z-index: 11;
  }
  
  .product-section > .p,
  .product-section > .h2 {
    text-align: center;
    z-index: 11;
  }
  
  .product-section > .h2 {
    font-size: 35px;
    margin-bottom: 14px;
  }
  
  .product-section > .p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--blk-clr);
  }
  
  .slate {
    background-color: #f9f9f9;
    transform: skewY(-1.5deg);
    padding: 50px;
    position: absolute;
    width: 97%;
    margin: auto;
    inset: 0;
    top: 200px;
    bottom: 200px;
    z-index: 10;
  }
  
  .product-section .flex button {
    height: 45px;
  }
  
  .home-product-card {
    padding: 20px 45px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
    position: relative;
    height: 970px;
  }
  
  .home-product-card >div:nth-child(1) {
    margin-bottom: 70px;
  }
  
  .home-product-card >div:nth-child(2) {
  position: absolute;
  min-width: 93.5%;
  margin: auto;
  }