.home-footer-header {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  padding: 50px 130px;
}

.home-footer-header>div {
  width: 50%;
}

.home-footer-form {
  width: 50%;
}

.home-footer-form>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #acacac;
  border-radius: 60px;
  width: 90%;
  padding: 15px;
  height: 50px;
}

.home-footer-form input {
  border: none;
  font-family: var(--secfntfam);
  padding-left: 10px;
  outline: none;
}

.home-footer-form .btn {
  background: #f03e3d;
  border-radius: 40px;
  height: 37px;
}

.home-footer-header .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #252525;
}

.home-footer-header .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}

.home-footer-main {
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
}

.home-footer-main>div .flex {
  gap: 10px;
}

.home-footer-main>div .h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.home-footer-main>div .p {
  width: 60%;
  margin-bottom: 20px;
}

.home-footer-main .h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f03e3d;
}

.home-footer-main .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #252525;
}

.home-footer-footer {
  padding: 50px 100px;
  position: relative;
}

.home-footer-footer .hr {
  background: #acacac;
  height: 1px;
}

.home-footer-footer .flex {
  position: absolute;
  left: 600px;
  top: 33px;
  gap: 13px;
}

.home-footer-footer .flex>div {
  border: 1px solid #acacac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #acacac;
  background-color: white;
  height: 35px;
  width: 35px;
  font-size: 20px;
}

.home-footer-footer .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #252525;
  margin-top: 30px;
}

.home-footer-footer .p span {
  font-weight: 600;
}

.home-footer-main ul h3 {
  margin-bottom: 25px;
}

.home-footer-main ul .p span {
  font-weight: 600;
}

.home-footer-main ul:nth-child(3) {
  width: 40%;
}

.home-footer-main ul:nth-child(2) {
  width: 20%;
}

.home-footer-main ul:nth-child(1) {
  width: 25%;
}


@media(max-width:1020px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .home-footer-header {
    flex-direction: column !important;
    padding: 30px 20px;
    gap: 20px;
    width: 100%;
  }

  .home-footer-header>div,
  .home-footer-header>form {
    width: 100%;
  }

  .home-footer-header>form>div {
    width: 100%;
  }

  .home-footer-header form input {
    width: 70%;
  }

  .home-footer-header .btn {
    width: 30%;
  }

  .home-footer-header>div .h3 {
    margin-bottom: 10px;
  }

  .home-footer-main {
    flex-direction: column;
    padding: 40px 30px;
    gap: 20px;
  }

  .home-footer-footer {
    padding: 30px;
  }

  .home-footer-footer .flex {
    left: 120px;
    top: 13px;
  }

  .home-footer-main ul h3 {
    margin-bottom: 15px;
  }

  .home-footer-main ul:nth-child(3),
  .home-footer-main ul:nth-child(1),
  .home-footer-main ul:nth-child(2) {
    width: 100%;
  }

}