.card-two {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
  font-family: var(--secfntfam);
  z-index: 11;
}

.card-two>div {
  width: 25%;
  background-color: white;
  z-index: 11;
  border-radius: 8px;
  border: 1px solid rgba(240, 62, 61, 0.2);
  padding: 0px;
  cursor: pointer;
  transition: all ease 400ms;
}

.card-two>div .flex {
  border-bottom: 1px solid rgba(240, 62, 61, 0.2);
  padding-bottom: 15px;
  margin: 10px 0;
  height: 0px;
  opacity: 0;
  transition: all ease 400ms;
}

.card-two>div section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 0px;
  opacity: 0;
  transition: all ease 400ms;
}

.card-two>div section button:nth-child(2) {
  transition: all ease 400ms;
}

.card-two>div section button:nth-child(2):hover svg {
  transform: translateY(0px) !important;
}

.card-two>div section button:nth-child(2):hover [type="text"] {
  display: none !important;
}

.card-two>div section button:nth-child(2) svg {
  transform: translateY(100px);
  transition: all ease 400ms;

}

.card-two>div:hover {
  padding: 20px 15px;
}

.card-two>div:hover .flex,
.card-two>div:hover section {
  height: 40px !important;
  opacity: 1 !important;
}

.card-two>div section .btn {
  font-size: 13px;
  font-weight: 400;
  height: 37px;
}

.bg-img {
  background-image: url(../../assets/image203.svg);
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-two .h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  color: var(--sec-clr);
}

.card-two .p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #606060;
  margin: 10px 0;
}

@media(max-width:1020px) {
  .card-two {
    flex-direction: column;
    gap: 35px;
  }

  .card-two>div {
    width: 100%;
  }

  .card-two>div .h3 {
    font-weight: 500;
    font-size: 22px;
  }

  .card-two>div .p {
    font-size: 16px;
    font-weight: 300;
  }

  .card-two>div:hover {
    padding: 0 !important;
  }

  .card-two>div:hover .flex,
  .card-two>div:hover section {
    height: 0px !important;
    opacity: 0 !important;
  }
}

@media(min-width:750px) and (max-width:1020px) {
  .card-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 35px;
  }
}