.products-page {
    font-family: var(--prim-fntfam);
}

.products-hero-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.products-review-sec>div {
    width: 50%;
}

.products-review-item-one {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 20px 30px;
}

.product-review-item-two {
    background-color: white;
    border-radius: 4px;
}

.products-hero-section .flex {
    gap: 20px;
}

.products-hero-section .flex img {
    height: 30px;
    width: 30px;
}

.products-review-sec {
    background-color: var(--other-clr);
    padding: 50px 100px;
    display: flex;
    gap: 30px;
}

.products-review-sec ul {
    gap: 5px;
}

.products-review-sec ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: var(--sec-clr);
}

.products-review-sec ul li::after {
    content: "/";
    padding-left: 10px;
}

.products-review-sec ul li:nth-child(3)::after {
    content: "";
}

.products-review-sec ul li:nth-of-type(3) {
    color: var(--blk-clr);
}

.products-review-item-one>.h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    color: #22343D;
}

.stock-review {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #4BD37B;
}

.products-review-item-one>.flex {
    gap: 25px;
    margin-top: 10px;
}

.products-review-item-one>.flex>.flex {
    gap: 15px;
}

.stock-check {
    color: white;
    font-size: 12px;
}

.direct-p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 30px !important;
    color: #22343D;
    width: 80%;
    margin: 20px 0;
}

.products-review-item-one>.flex>.border-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    border-radius: 0px;
    width: 100px;
    height: 30px;
}

.color-con>div>div {
    background: #48AF18;
    border-radius: 2px;
    height: 28px;
    width: 28px;
}

.active-color {
    padding: 4px;
    border: 1px solid black;
    border-radius: 2px;
}

.interation {
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    width: 180px;
    height: 46px;
    font-size: 16px;
    gap: 30px;
    margin-top: 30px !important;
}

.products-review-btns {
    margin-top: 30px !important;
}

.products-review-btns .border-btn {
    background: #DADADA;
    border-radius: 4px !important;
    width: 220px !important;
    height: 60px !important;
    font-weight: 500 !important;
}

.products-review-btns .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 24px;
}

.select-img {
    gap: 10px;
    margin-left: 20px;
    margin-top: 30px;
}

.select-img>div {
    background-color: var(--other-clr);
    padding: 0 8px;
    border-radius: 5px;
}

.active-img {
    border: 1px solid var(--sec-clr);
}

.select-img img {
    width: 84px;
    height: 82px;
}

.seller-sec .product-section {
    height: auto !important;
    padding-bottom: 50px;
}

.seller-sec .product-section .slate {
    display: none !important;
}

.bSshare {
    color: #606060;
    font-size: 16px;
}

.bsStar {
    color: #FFD700;
    font-size: 20px;
}

.products-review-item-one>.flex span {
    margin-left: 10px;
}

@media(max-width:1020px) {
    .products-review-sec {
        flex-direction: column;
        padding: 30px 20px;
    }

    .description-hero-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }

    .description-hero-section .btn,
    .description-hero-section .gray-btn {
        width: 90%;
        margin: auto;
    }

    .products-review-sec>div {
        width: 100%;
    }

    .products-review-btns {
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }

    .products-review-btns .btn {
        height: 45px;
        width: 150px;
    }

    .product-review-item-two {
        padding: 10px;
    }

}