@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root {
  --prim-fntfam: 'Inter', sans-serif;
  --secfntfam: 'Poppins', sans-serif;
  --pri-clr: black;
  --sec-clr: #f03e3d;
  --other-clr: #faf2ef;
  --blk-clr: #22343D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

.h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  font-family: var(--prim-fntfam);
}

.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 60px;
  font-family: var(--prim-fntfam);
  letter-spacing: 6px;
}

.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--prim-fntfam);
}

.p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--prim-fntfam);
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;

}

img {
  max-width: 100%;
}

@media(max-width:1020px) {
  .h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
  }

  .h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 22.4px;
    line-height: 48px;
    letter-spacing: 4.8px;
  }

  .h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Poppins';
  }

}