.forget-pass-form section .p:nth-last-of-type(2) {
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #606060;
    width: 100%;
    text-align: center;
}

.forget-pass-form .h2 {
    text-align: center;
}

.forget-pass-form .btn {
    margin-top: 30px;
}