.card-three>div .flex {
    margin: 10px 0;
    justify-content: space-evenly;

}

.card-three {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: center;
    font-family: var(--prim-fntfam);
    z-index: 11;
}

.card-three>div {
    width: 25%;
    background-color: white;
    z-index: 11;
    border-radius: 8px;
    border: 1px solid rgba(240, 62, 61, 0.2);
    padding: 10px;
    position: relative;
}

.card-three section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    background-color: white;
    position: absolute;
    font-size: 25px;
    top: 30px;
    left: 30px;
    color: #606060;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
    transform: translateX(-40px);
    opacity: 0;
}

.card-three>div:hover section {
    transform: translate(0px) !important;
    opacity: 1 !important;
}

.bg-img {
    background-image: url(../../assets/image203.svg);
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-three .h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    padding-bottom: 0px;
    color: var(--sec-clr);
}

.card-three .p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    margin: 0;
}

.card-three .h3 {
    color: #22343D;
}

@media(max-width:1020px) {
    .card-three {
        flex-direction: column;
        gap: 35px;
    }

    .card-three .flex {
        display: none;
    }

    .card-three>div {
        width: 100%;
    }

    .card-three>div .h3 {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .card-three>div .p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .card-three .section {
        display: none;
    }
}

@media(min-width:750px) and (max-width:1020px) {
    .card-three {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 35px;
    }
}